<div class="text-layout">
  <h1>Pipes Personalizados</h1>
  <p>
    Pipes DomSeguro y Pipe para Contraseña.
  </p>
</div>

<div class="p-grid">
  <div class="p-sm-12 p-md-6">
    <p-fieldset legend="domSeguro" [toggleable]="true">
      <iframe width="100%" height="360" [src]="videoUrl | domSeguro" title="Shouse - Love Tonight (Kremor Remix)"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </p-fieldset>
  </div>

  <div class="p-sm-12 p-md-6">
    <p-fieldset legend="Password Pipe" [toggleable]="true">
      <p>Mostrar o ocultar contraseña</p>
      <p>
        {{ pass | contrasena:activar }}
      </p>
      <button
        (click)="activar = !activar"
        pButton
        label="Activar / Desactivar"
        class="p-button-primary"></button>
    </p-fieldset>
  </div>



</div>
